<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>joget_notification.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CD852DE52D8A23BB2FEEAC6029168E9550016C39</string>
				<key>dateExpires</key>
				<string>2023/8/30</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD852DE52D8A23BB2FEEAC6029168E9550016C39</string>
						<key>dateExpires</key>
						<string>2023/8/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7U9Q82KQ6</string>
						<key>name</key>
						<string>DAH HSIN TECHNOLOGY PUBLISHING CO., LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD852DE52D8A23BB2FEEAC6029168E9550016C39</string>
						<key>dateExpires</key>
						<string>2023/8/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7U9Q82KQ6</string>
						<key>name</key>
						<string>DAH HSIN TECHNOLOGY PUBLISHING CO., LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD852DE52D8A23BB2FEEAC6029168E9550016C39</string>
						<key>dateExpires</key>
						<string>2023/8/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_app_badger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7U9Q82KQ6</string>
						<key>name</key>
						<string>DAH HSIN TECHNOLOGY PUBLISHING CO., LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD852DE52D8A23BB2FEEAC6029168E9550016C39</string>
						<key>dateExpires</key>
						<string>2023/8/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7U9Q82KQ6</string>
						<key>name</key>
						<string>DAH HSIN TECHNOLOGY PUBLISHING CO., LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD852DE52D8A23BB2FEEAC6029168E9550016C39</string>
						<key>dateExpires</key>
						<string>2023/8/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_timezone.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7U9Q82KQ6</string>
						<key>name</key>
						<string>DAH HSIN TECHNOLOGY PUBLISHING CO., LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD852DE52D8A23BB2FEEAC6029168E9550016C39</string>
						<key>dateExpires</key>
						<string>2023/8/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7U9Q82KQ6</string>
						<key>name</key>
						<string>DAH HSIN TECHNOLOGY PUBLISHING CO., LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD852DE52D8A23BB2FEEAC6029168E9550016C39</string>
						<key>dateExpires</key>
						<string>2023/8/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7U9Q82KQ6</string>
						<key>name</key>
						<string>DAH HSIN TECHNOLOGY PUBLISHING CO., LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD852DE52D8A23BB2FEEAC6029168E9550016C39</string>
						<key>dateExpires</key>
						<string>2023/8/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7U9Q82KQ6</string>
						<key>name</key>
						<string>DAH HSIN TECHNOLOGY PUBLISHING CO., LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CD852DE52D8A23BB2FEEAC6029168E9550016C39</string>
						<key>dateExpires</key>
						<string>2023/8/30</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H7U9Q82KQ6</string>
						<key>name</key>
						<string>DAH HSIN TECHNOLOGY PUBLISHING CO., LTD.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>H7U9Q82KQ6.com.dahhsin.jogetmobile</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>H7U9Q82KQ6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1e4a8c27-e276-494e-89fa-1ec2efe0f0c4</string>
				<key>dateExpires</key>
				<string>2023/8/30</string>
				<key>name</key>
				<string>Joget Mobile App Push Notify Ad Hoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H7U9Q82KQ6</string>
				<key>name</key>
				<string>DAH HSIN TECHNOLOGY PUBLISHING CO., LTD.</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.3</string>
		</dict>
	</array>
</dict>
</plist>
